---
import clsx from "clsx";
import PostPreview from "./PostPreview.astro";
import { Icon } from "astro-icon/components";



const props = Astro.props;
const { posts } = props;
---

<div class="h-fit w-full">
  {
    props.posts.length > 0 ? (
      Array.from({ length: Math.ceil(posts.length / 3) }).map((_, i) => {
        const bigIndex = i * 3;
        const leftSmallIndex = bigIndex + 1;
        const rightSmallIndex = bigIndex + 2;

        const post = posts[bigIndex]
        const leftPost = posts[leftSmallIndex]
        const rightPost = posts[rightSmallIndex]

        return (
          <div class="h-full w-full">
            {post && <PostPreview half={false} large={true} post={post} />}
            {(leftPost || rightPost) && (
              <div
                class={clsx("flex", {
                  "border-b border-dashed border-neutral-800":
                    i < Math.ceil(posts.length / 3) - 1,
                })}
              >
                {leftPost && (
                  <PostPreview
                    half={!!rightPost}
                    large={false}
                    post={leftPost}
                  />
                )}
                {rightPost && (
                  <PostPreview half={true} large={false} post={rightPost} />
                )}
              </div>
            )}
          </div>
        );
      })
    ) : (
      <div class="flex h-[50vh] w-full flex-col items-center justify-center gap-3">
        <Icon
          name="heroicons-solid:exclamation-triangle"
          class="text-4xl text-neutral-500/80"
        />
        <p class="ml-2 font-bold text-neutral-500">
          ...nobody's posted yet. Check back later!
        </p>
      </div>
    )
  }
</div>
