---
import { Icon } from "astro-icon/components";
import { type Author } from "../../content/config";
import socialSites from "../../lib/utils/socialSites";

const props = Astro.props;
const author: Author = props.data;

const socials = socialSites(author.socials) || []
---

<div class="max-w-auto border border-dashed border-neutral-800 m-8 p-4">
  <a href={`/team/${props.id}`}>
    <img
      class="max-h-48 w-full object-cover"
      src={author.image}
      alt={author.name}
    />
  </a>
  <div class="p-5 static">
    <h1 class="mb-2 text-2xl font-bold tracking-tight text-white">
      <a href={`/team/${props.id}`}>
        {author.name}
      </a>
    </h1>
    <p class="mb-1 font-normal text-gray-400">
      {author.position}
    </p>
    <p class="mb-1 font-normal text-gray-400">
    </p>
      {author.description}
    {
      socials && socials.length > 0 && (
        <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-3 lg:grid-cols-2 xl:grid-cols-3 text-center  gap-2 pt-4 relative bottom-0">
          {socials.map((site) => (
            <a href={site.link} target="_blank" rel="noopener noreferrer">
              <Icon name={site.icon} class="w-12 h-12 mr-2 " />
            </a>
          ))}
        </div>
      )
    }
  </div>
</div>
